
.meet-team{
    p{
        text-align: justify;
        margin-top: 4rem;
        text-align-last: center;
    }
    
    .meet-team__contact{
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;
        justify-content: center;
        margin: 7rem 0rem;
        img{
            width: 25rem;
        }
    }
}

@media only screen   
and (-webkit-min-device-pixel-ratio: 1)  
and (min-device-width : 768px)   
and (max-device-width : 1007px) {
    .meet-team{
        .meet-team__contact{
            img{
                width: 33rem;
            }
        }
    }
}

@media only screen   
and (min-device-width : 320px)   
and (max-device-width : 480px) {
    .meet-team{
        .meet-team__contact{
            img{
                width: 20rem;
            }
        }
    }
}

