@import "../../variables.scss";

.offering-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 30rem;
    width: 45%;
    margin: 2rem;
    flex: 1;
    flex-wrap: wrap;
    

    .offering-card__heading {
        margin-bottom: 0.25rem;
        color: #140107;

        &::first-letter {
            /* could have used this but it sticks almost to the bottom of the alphabet but we need some gap there */
            // text-decoration: underline;
            // text-decoration-color: $color-popit;
            border-bottom: 0.15rem solid $color-popit;
        }
    }

    .offering-card__rectangle{
        img{
            width: 2.625rem;
            height: 2.625rem;
            flex-shrink: 0;
            margin-bottom: 0.25rem;
        }
    }
}