@import "../../variables.scss";

.heading{
    color: $color-black;
    font-family: Poppins;
    font-weight: $font-weight-bold;
    font-style: normal;
    line-height: 2.875rem;
    text-align: center;
}

.large {
    font-size: 2.18rem;
}

.medium {
    font-size: 1.3125rem;
    line-height: 2.5rem;
}