@import "../../variables.scss";

.header {
    padding: 2.5rem 0;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        text-decoration: none;
        color: $color-black;
        font-family: Poppins;
    }

    .header__logo {
        img {
            width: 11rem;
        }
    }

    .header__nav {
        display: flex;

        .header__nav__nav-item {
            font-size: 1.1rem;
            margin: 0 2.25rem;
        }
    }

}