// TODO: check need for css-resets and css normalize
* {
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
  }

p {
  color: #000;
  font-family: Poppins;
  font-size: 1.3125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem; /* 190.476% */
}

.container {
    width: 100vw;
    background-image: url('./assets/background-image.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

// app level styling guidelines here
.app {
  width: 90%;
  margin: 0 auto;
}